### lane のデータを解析

In [19]:
import csv, os
import numpy
import pandas as pd

In [20]:
file_path = '../../output/3am/lane_data.csv'
print('file name: {}'.format(file_path))

file name: ../../output/3am/lane_data.csv

In [21]:
# csvからdfに変換
df = pd.read_csv(file_path)

In [22]:
df.head()

       lane_id  length  lane_num       edge
0  --30244#0_0  642.29         2  --30244#0
1  --30244#0_1  642.29         2  --30244#0
2  --30244#1_0  145.98         2  --30244#1
3  --30244#1_1  145.98         2  --30244#1
4  --30244#2_0  130.39         2  --30244#2

In [23]:
print(len(df))

24575

In [24]:
df[df['lane_num'] == 1].head()

        lane_id  length  lane_num       edge
10    --30246_0  135.33         1    --30246
11    --30248_0   91.15         1    --30248
12    --30250_0   75.00         1    --30250
13    --30252_0  132.97         1    --30252
14  --30254#0_0   12.38         1  --30254#0

In [25]:
df.describe()

             length      lane_num
count  24575.000000  24575.000000
mean      69.837035      1.601424
std      192.459076      0.852969
min        0.100000      1.000000
25%        6.190000      1.000000
50%       10.620000      1.000000
75%       63.045000      2.000000
max     5770.070000      5.000000

In [26]:
df[df['lane_num'] == 4].head()

          lane_id  length  lane_num       edge
2811  --32278#0_0  408.72         4  --32278#0
2812  --32278#0_1  408.72         4  --32278#0
2813  --32278#0_2  408.72         4  --32278#0
2814  --32278#0_3  408.72         4  --32278#0
2815  --32278#1_0  140.07         4  --32278#1

In [27]:
df[df['lane_num'] == 5]

         lane_id  length  lane_num      edge
6778  -31876#1_0   58.48         5  -31876#1
6779  -31876#1_1   58.48         5  -31876#1
6780  -31876#1_2   58.48         5  -31876#1
6781  -31876#1_3   58.48         5  -31876#1
6782  -31876#1_4   58.48         5  -31876#1
6783  -31876#2_0  113.92         5  -31876#2
6784  -31876#2_1  113.92         5  -31876#2
6785  -31876#2_2  113.92         5  -31876#2
6786  -31876#2_3  113.92         5  -31876#2
6787  -31876#2_4  113.92         5  -31876#2
6788  -31876#3_0   96.40         5  -31876#3
6789  -31876#3_1   96.40         5  -31876#3
6790  -31876#3_2   96.40         5  -31876#3
6791  -31876#3_3   96.40         5  -31876#3
6792  -31876#3_4   96.40         5  -31876#3

In [31]:
eg = df.groupby('edge').agg({
    'lane_id': list,
    'length': 'mean',
    'lane_num': 'mean'
})

In [32]:
eg[eg['lane_num'] == 5]

                                                    lane_id  length  lane_num
edge
-31876#1  [-31876#1_0, -31876#1_1, -31876#1_2, -31876#1_...   58.48         5
-31876#2  [-31876#2_0, -31876#2_1, -31876#2_2, -31876#2_...  113.92         5
-31876#3  [-31876#3_0, -31876#3_1, -31876#3_2, -31876#3_...   96.40         5

In [33]:
eg[eg['lane_num'] == 4]

,lane_id,length,lane_num
edge,,,
--32278#0,"[--32278#0_0, --32278#0_1, --32278#0_2, --3227...",408.72,4
--32278#1,"[--32278#1_0, --32278#1_1, --32278#1_2, --3227...",140.07,4
--32278#2,"[--32278#2_0, --32278#2_1, --32278#2_2, --3227...",217.83,4
--32278#3,"[--32278#3_0, --32278#3_1, --32278#3_2, --3227...",112.76,4
--32278#4,"[--32278#4_0, --32278#4_1, --32278#4_2, --3227...",532.02,4
...,...,...,...
:-32454#1-AddedOffRampNode_0,"[:-32454#1-AddedOffRampNode_0_0, :-32454#1-Add...",3.38,4
:-32454#1-AddedOnRampNode_0,"[:-32454#1-AddedOnRampNode_0_0, :-32454#1-Adde...",3.75,4
:-32798-AddedOnRampNode_0,"[:-32798-AddedOnRampNode_0_0, :-32798-AddedOnR...",23.33,4
:-32858#1-AddedOffRampNode_0,"[:-32858#1-AddedOffRampNode_0_0, :-32858#1-Add...",3.37,4
:-32858#1-AddedOnRampNode_0,"[:-32858#1-AddedOnRampNode_0_0, :-32858#1-Adde...",3.75,4

In [41]:
# lengthの中央値の箇所にpoiを追加する
for i in range(1, 6):
    data_by_lane = eg[eg['lane_num'] == i]
    print(i, data_by_lane['length'].min())
    print(i, data_by_lane['length'].max())

1 0.1
1 1843.83
                 lane_id  length  lane_num
edge
:-11256_0  [:-11256_0_0]     0.1         1
:-14502_0  [:-14502_0_0]     0.1         1
:-16224_0  [:-16224_0_0]     0.1         1
:-16224_1  [:-16224_1_0]     0.1         1
:-25018_1  [:-25018_1_0]     0.1         1
:-25412_0  [:-25412_0_0]     0.1         1
:-25748_0  [:-25748_0_0]     0.1         1
:-25748_1  [:-25748_1_0]     0.1         1
:-268_0      [:-268_0_0]     0.1         1
:-268_1      [:-268_1_0]     0.1         1
:-4658_0    [:-4658_0_0]     0.1         1
:-80_0        [:-80_0_0]     0.1         1
:-80_1        [:-80_1_0]     0.1         1
2 0.1
2 2757.06
                              lane_id  length  lane_num
edge
:-14844_0  [:-14844_0_0, :-14844_0_1]     0.1         2
:-14844_2  [:-14844_2_0, :-14844_2_1]     0.1         2
3 0.10000000000000002
3 5770.07
                                           lane_id  length  lane_num
edge
:-11556_0  [:-11556_0_0, :-11556_0_1, :-11556_0_2]     0.1         3
:-15606_0  [:-15606_0_0, :-15606_0_1, :-15606_0_2]     0.1         3
:-22774_0  [:-22774_0_0, :-22774_0_1, :-22774_0_2]     0.1         3
:-22774_3  [:-22774_3_0, :-22774_3_1, :-22774_3_2]     0.1         3
:-28674_0  [:-28674_0_0, :-28674_0_1, :-28674_0_2]     0.1         3
:-346_0          [:-346_0_0, :-346_0_1, :-346_0_2]     0.1         3
:-346_3          [:-346_3_0, :-346_3_1, :-346_3_2]     0.1         3
:-78_0              [:-78_0_0, :-78_0_1, :-78_0_2]     0.1         3
:-78_3              [:-78_3_0, :-78_3_1, :-78_3_2]     0.1         3
4 3.37
4 991.81
                                                                         lane_id  \
edge
:-30668#10-AddedOffRampNode_0  [:-30668#10-AddedOffRampNode_0_0, :-30668#10-A...
:-30668#12-AddedOffRampNode_0  [:-30668#12-AddedOffRampNode_0_0, :-30668#12-A...
:-30668#14-AddedOffRampNode_0  [:-30668#14-AddedOffRampNode_0_0, :-30668#14-A...
:-30668#4-AddedOffRampNode_0   [:-30668#4-AddedOffRampNode_0_0, :-30668#4-Add...
:-30668#7-AddedOffRampNode_0   [:-30668#7-AddedOffRampNode_0_0, :-30668#7-Add...
:-30668#9-AddedOffRampNode_0   [:-30668#9-AddedOffRampNode_0_0, :-30668#9-Add...
:-31366#1-AddedOffRampNode_0   [:-31366#1-AddedOffRampNode_0_0, :-31366#1-Add...
:-31622#10-AddedOffRampNode_0  [:-31622#10-AddedOffRampNode_0_0, :-31622#10-A...
:-31622#12-AddedOffRampNode_0  [:-31622#12-AddedOffRampNode_0_0, :-31622#12-A...
:-31622#2-AddedOffRampNode_0   [:-31622#2-AddedOffRampNode_0_0, :-31622#2-Add...
:-31622#5-AddedOffRampNode_0   [:-31622#5-AddedOffRampNode_0_0, :-31622#5-Add...
:-31622#8-AddedOffRampNode_0   [:-31622#8-AddedOffRampNode_0_0, :-31622#8-Add...
:-32400#2-AddedOffRampNode_0   [:-32400#2-AddedOffRampNode_0_0, :-32400#2-Add...
:-32426#0-AddedOffRampNode_0   [:-32426#0-AddedOffRampNode_0_0, :-32426#0-Add...
:-32426#2-AddedOffRampNode_0   [:-32426#2-AddedOffRampNode_0_0, :-32426#2-Add...
:-32858#1-AddedOffRampNode_0   [:-32858#1-AddedOffRampNode_0_0, :-32858#1-Add...

                               length  lane_num
edge
:-30668#10-AddedOffRampNode_0    3.37         4
:-30668#12-AddedOffRampNode_0    3.37         4
:-30668#14-AddedOffRampNode_0    3.37         4
:-30668#4-AddedOffRampNode_0     3.37         4
:-30668#7-AddedOffRampNode_0     3.37         4
:-30668#9-AddedOffRampNode_0     3.37         4
:-31366#1-AddedOffRampNode_0     3.37         4
:-31622#10-AddedOffRampNode_0    3.37         4
:-31622#12-AddedOffRampNode_0    3.37         4
:-31622#2-AddedOffRampNode_0     3.37         4
:-31622#5-AddedOffRampNode_0     3.37         4
:-31622#8-AddedOffRampNode_0     3.37         4
:-32400#2-AddedOffRampNode_0     3.37         4
:-32426#0-AddedOffRampNode_0     3.37         4
:-32426#2-AddedOffRampNode_0     3.37         4
:-32858#1-AddedOffRampNode_0     3.37         4
5 58.48
5 113.92
                                                    lane_id  length  lane_num
edge
-31876#1  [-31876#1_0, -31876#1_1, -31876#1_2, -31876#1_...   58.48         5

結局どこにすればいいのかがわからないので，これは却下で

シミュレーション領域の真ん中から，上に2つずつ足していく感じで

幅は600mずつ

In [2]:
center = (6810.565, 5728.15)
delta_x = [_ for _ in range(-5, 6)]
delta_y = [_ for _ in range(-5, 6)]
pos_list = []

print(delta_x, delta_y)

for i in delta_x:
    tmp_x = center[0] + i * 100
    tmp_y = center[1]
    pos_list.append((tmp_x, tmp_y))

for i in delta_y:
    tmp_x = center[0]
    tmp_y = center[1] + i * 100
    pos_list.append((tmp_x, tmp_y))

pos_list = list(set(pos_list))
print(pos_list)

for i in set(pos_list):
    print(i)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5] [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
[(6910.565, 5728.15), (6810.565, 5528.15), (7110.565, 5728.15), (6810.565, 6028.15), (6410.565, 5728.15), (7310.565, 5728.15), (6810.565, 5628.15), (6610.565, 5728.15), (6810.565, 5228.15), (6810.565, 6128.15), (6810.565, 5728.15), (7010.565, 5728.15), (6810.565, 5328.15), (6810.565, 6228.15), (7210.565, 5728.15), (6810.565, 5828.15), (6310.565, 5728.15), (6510.565, 5728.15), (6810.565, 5428.15), (6710.565, 5728.15), (6810.565, 5928.15)]
(6910.565, 5728.15)
(6810.565, 5528.15)
(7110.565, 5728.15)
(6810.565, 6028.15)
(6410.565, 5728.15)
(7310.565, 5728.15)
(6810.565, 5628.15)
(6610.565, 5728.15)
(6810.565, 6128.15)
(6810.565, 5228.15)
(6810.565, 5728.15)
(7010.565, 5728.15)
(6810.565, 6228.15)
(6810.565, 5328.15)
(7210.565, 5728.15)
(6810.565, 5828.15)
(6310.565, 5728.15)
(6510.565, 5728.15)
(6810.565, 5428.15)
(6710.565, 5728.15)
(6810.565, 5928.15)

In [4]:
# _でsplitしてvirtualを含むかで判断
print('virtual' in 'randUni173:1_virtual_299_0'.split('_'))
print('virtual' in 'randUni173:1'.split('_'))

True
False